div.categories a {
    display: block;
    text-decoration: none;
}
div.categories div.card-block a {
    display: inline;
}
div.categories div.card-block a:hover {
    text-decoration: underline;
}
div.card, div.card-header {
    background: #3071a9;
    border-radius: 8px 8px 0 0!important;
}
div.card {
    border: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    -webkit-box-shadow: 0px -4px 10px #aaa;
    box-shadow: 0px -4px 10px #aaa;
}
div.card-header{
    border-radius: 8px 8px 0 0;
}
div.card-block div {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}