footer {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    padding: 40px 0;
    background: #06122C;
    -moz-box-shadow: 0px -3px 5px rgba(0,0,0,0.8);
    box-shadow: 0px -3px 5px rgba(0,0,0,0.8);
}
footer a{
    color: orange;
}
footer div.row div{
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}