/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(../fonts/TitilliumWeb-Regular.ttf)  format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.badge {
    padding: 3px;
    font-weight: normal;
    display: inline;
    font-size: 14px!important;
}
code{
    margin: .3rem;
    color: #f5fafe;
    background-color: #999;
}
body{
    background: url(http://7sbmib.com1.z0.glb.clouddn.com/body_background1.png);
    font-size: 1.0rem;
    font-family: 'Titillium Web', sans-serif!important;
}
.page-header{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #A9A9A9;
}
.easeText {
    background: #9E9E9E;
    text-shadow: none;
    color: #9E9E9E;
    display: inline;
}
h3{
    font-size: 1.5rem;
}
blockquote {
    border-left: 5px solid #bdbdbd;
    padding: 5px 5px;
    margin: 0 0 0;
    color: darkred;
}
blockquote p{
    margin: 0.2rem;
}
.row{
    margin-right: 30px;
    margin-left: 30px;
}
pre{
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 4px;
}
@media(max-width:480px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 5px;
    }
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
}