.badge {
    padding: 3px;
    font-weight: normal;
    display: inline;
    font-size: 80%!important;
}
body{
    font-family: "微软雅黑", Menlo!important;
    background: url(http://7sbmib.com1.z0.glb.clouddn.com/body_background1.png)
}
.page-header{
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #A9A9A9;
}
.easeText {
    background: #9E9E9E;
    text-shadow: none;
    color: #9E9E9E;
    display: inline;
}
h1,h2,h3{
    color:#0275d8;
}
blockquote {
    border-left: 5px solid #bdbdbd;
    padding: 5px 5px;
    margin: 0 0 0;
    color: darkred;
}
blockquote p{
    margin: 0.2rem;
}
.row{
    margin-right: 30px;
    margin-left: 30px;
}
pre{
    background-color: #f5f5f5;
    padding: 0.5rem;
    border-radius: 4px;
}
@media(max-width:480px) {
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
}