#jumbotron{
    padding-top: 25vh;
    background-size: 100% 100%;
    font-size: 1.2rem
}


@media(min-width:800px){
    #jumbotron{
    	height: 100vh;
    }
}
@media(max-width:800px){
    #jumbotron{
    	height: 100%;
    }
}

