i.headerbtn:hover {
    cursor: pointer;
}

i.headerbtn {
    font-size: 16px;
    position: relative;
    margin-left: -20px;
    padding-right: 5px;
    color: rgb(161, 161, 161);
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    opacity: 0;
}

h1:hover i.headerbtn,
h2:hover i.headerbtn, 
h3:hover i.headerbtn{
    opacity: 1;
    visibility: visible;
}