/* table of contents*/
div#sidebar-toc-content {
    background: transparent;
}
div#sidebar-toc-content ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}
div#sidebar-toc-content ul li {
  line-height: 20px;
  text-indent: 10px;
  width: 250px; 
  font-size: 17px; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow:ellipsis;       /*兼容IE*/
}
div#sidebar-toc-content ul li a{
    color: rgb(218, 218, 218);
    border-bottom: 1px solid #999;
    border-bottom-color: #555;
    font-size: 14px;
}
div#sidebar-toc-content li.toc-h2 {
  padding-left: 10px;
}
div#sidebar-toc-content li.toc-h3 {
  padding-left: 25px;
}
div#sidebar-toc-content li.toc-active a {
  color: orange;
  font-weight: bold;
}
