<!-- Page Content -->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="page-header d-flex justify-content-between align-items-center" id="archives">
          <h3 class="">Archives</h3>
          <input type="text" class="form-control ml-3 w-50 form-control-sm" id="post-search"
            placeholder="Press enter to search..." autocomplete="off">
        </div>

        <ul class="ant-timeline" id="archivelist">

          {% comment %} Stickie list {% endcomment %}
          {% for post in site.posts %}

          {% if post.stickie != true %}
          {% continue %}
          {% endif %}

          {% if post.hideinpostslist == true %}
          {% continue %}
          {% endif %}


          <li class="ant-timeline-item">
            <!-- index start from 1 -->
            <div class="ant-timeline-item-head ant-timeline-item-head-blue">
            </div>
            <div class="ant-timeline-item-content">
              <span class="badge badge-danger d-lg-inline-block d-none">{{ post.date | date: "%Y-%m-%d" }} </span>
              <span class="align-items-center post-title">
                <a class="post-link text-danger h6 text-danger font-weight-bold"
                  href="{{ post.url}}">{{ post.title }}</a>
              </span>
            </div>
          </li>
          {% endfor %}


          {% comment %} Normal post list {% endcomment %}
          {% for post in site.posts %}

          {% comment %} If we dont wanna it show in post list{% endcomment %}
          {% if post.hideinpostslist == true %}
          {% continue %}
          {% endif %}

          {% comment %} If it already showed in stickie list {% endcomment %}
          {% if post.stickie == true %}
          {% continue %}
          {% endif %}

          <li class="ant-timeline-item">
            <!-- index start from 1 -->
            <div class="ant-timeline-item-head ant-timeline-item-head-blue">
            </div>
            <div class="ant-timeline-item-content">
              <span class="badge badge-primary d-lg-inline-block d-none">{{ post.date | date: "%Y-%m-%d" }} </span>
              <span class="align-items-center post-title">
                <a class="post-link h6 font-weight-bold" href="{{ post.url}}">{{ post.title }}</a>
              </span>
            </div>
          </li>
          {% endfor %}
        </ul>
        <div class="pagination"></div>
      </div>

      <div class="col-md-5">
        <div class="page-header">
          <h3>Header A</h3>
        </div>
        <div>szhshp is awesome</div>

        <div class="page-header">
          <h3>Header B</h3>
        </div>
        <div>szhshp is awesome</div>
      </div>
    </div>
  </div>
</div>
<!-- /#page-content-wrapper -->