<div class="row">
    <div class="col-md-12">
        <div id="disqus_thread"></div>
        <script>
          var disqus_config = function () {
            this.page.url = 'http://szhshp.org/tech/2017/01/09/projectgaia.html';  
            this.page.identifier = 'http://szhshp.org/tech/2017/01/09/projectgaia.html';
          };
          
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://szhshp.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
</div>