<link href="/css/shCore.css" rel='stylesheet' type='text/css'/>
<link href="/css/shCoreRDark.css" rel='stylesheet' type='text/css'/>
<link href="/css/shThemeRDark.css" rel='stylesheet' type='text/css'/>

<script src="/js/shCore.js" type='text/javascript'></script>

<script src="/js/shBrushCSharp.js" type='text/javascript'></script>
<script src="/js/shBrushColdFusion.js" type='text/javascript'></script>
<script src="/js/shBrushCpp.js" type='text/javascript'></script>
<script src="/js/shBrushCss.js" type='text/javascript'></script>
<script src="/js/shBrushJava.js" type='text/javascript'></script>
<script src="/js/shBrushPhp.js" type='text/javascript'></script>
<script src="/js/shBrushRuby.js" type='text/javascript'></script>
<script src="/js/shBrushSql.js" type='text/javascript'></script>
<script src="/js/shBrushXml.js" type='text/javascript'></script>
<script src="/js/shBrushJScript.js" type='text/javascript'></script>


<script language='javascript'>
  SyntaxHighlighter.all();
</script>