<!-- toc list -->
<script src="{{site.url}}{{site.baseurl}}/js/awesome-toc.min.js" type='text/javascript'></script>

<!-- Header collapse -->
<script src="{{site.url}}{{site.baseurl}}/lib/md-post-header-collapse/md-post-header-collapse.js"></script>

<script>
	/* toc list */
	$.awesome_toc({        
		autoDetectHeadings: true,
		enableToTopButton: false,
		css: {
			fontSize: "13px",
			largeFontSize: "18px",
		},
	});

	/* toc list number rebuild */
	var level1Index = 0;
	var level2Index = 0;
	var level3Index = 0;
	$.each($('#toc li'), function( index, value ) {
		
		var paddingLength = $('#toc li')[index].style['padding-left'].split("px")[0];/* padding length */
		var elem = $($('#toc li')[index]).find('a');
		var originalTitle = elem.html();/* original title */

		if (paddingLength == presetPaddingLength) {/* Head 1 */
			elem.text((++level1Index) + '. ' + originalTitle);
			level2Index = 0;
			level3Index = 0;
		}else if (paddingLength == 2 * presetPaddingLength) {/* Head 2 */
			elem.text(level1Index + '.' + (++level2Index) + '. ' +originalTitle);
			level3Index = 0;
		}else if (paddingLength == 3 * presetPaddingLength) {/* Head 3 */
			elem.text(level1Index + '.' + level2Index + '.' + (++level3Index) + '. ' + originalTitle);

		}
	});

	/*header collapsible*/
	$.headerCollapseRobot(
	  arr_Id_CollapseEnds =  new Array("end"),                       
	  arr_Collapsible_Tag = new Array("H1","H2","H3"),                       
	  arr_ExcludeElemPrefix_InCollapsible  = new Array("comment-"),      
	  arr_ExcludeElemPrefix_InCollapsing = new Array("sidebar-toc-Ik4D-")
	)

	/*  toc list click effect */
	$("a.content").click(function(){
		$("ul#link").fadeOut(500,function(){
			$("ul#toc").fadeIn(500);
		});
		$("a.link").removeClass("active");
		$(this).addClass("active");
	});
	$("a.link").click(function(){
		$("ul#toc").fadeOut(500,function(){
			$("ul#link").fadeIn(500);
		});
		$("a.content").removeClass("active");
		$(this).addClass("active");
	});
</script>