<ul class="sidebar-nav">
    <li data-toggle="tooltip" data-placement="left" data-original-title="Homepage">
        <a href="/index.html">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home  
        </a>
    </li>
    <li data-toggle="tooltip" data-placement="left" data-original-title="Archives">
        <a href="/index.html#archives">
            <i class="fa fa-file-code-o" aria-hidden="true"></i>
            Archives  
            <span class="pull-right ">{{ site.posts.size}}</span>
        </a>
    </li>
    <li data-toggle="tooltip" data-placement="left" data-original-title="Categories">
        <a href="/categories.html">
            <i class="fa fa-tags" aria-hidden="true"></i>
            Categories 
            <span class="pull-right ">{{ site.categories.size}}</span>
        </a>
    </li>
    <li data-toggle="tooltip" data-placement="left" data-original-title="About Me">
        <a href="/about.html" >
            <i class="fa fa-comments" aria-hidden="true"></i>
            Messager
        </a>
    </li>
</ul>