<!-- Sidebar in non-post page -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-sm toggle animated infinite tada">
	<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
</a>
<nav id="sidebar-wrapper">
	<ul class="nav" role="tablist" style="padding-bottom:20px">
		<a id="menu-close" href="#" class="btn btn-light btn-sm pull-right toggle">
   			<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		</a>
		<ul>
			<li class="headerlink">
				<a href="/index.html#top" class="content active" onclick = $("#menu-close").click(); >Home</a>
			</li>
		</ul>
	</ul>
	{% include links.html %}
</nav>