<!-- This is the navigation for sub pages -->
<!-- All link will redirect -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-sm toggle animated infinite tada">
  <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
</a>

<nav id="sidebar-wrapper">
  <ul class="nav" role="tablist">
    <a id="menu-close" href="#" class="btn btn-light btn-sm pull-right toggle">
      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    </a>

    <ul>
      <li class="headerlink">
        <a class="content active">TOC</a>
        <a class="link inactived">Home</a>
      </li>
    </ul>
  </ul>

  <br>
  {% include links.html %}
  <ul id="toc" class="sidebar-nav sidebar-nav-toc"></ul>
</nav>
<script type="text/javascript">
        document.getElementById('link').style.display='none';
</script>