<!-- Page Content -->
<div id="page-content-wrapper">
    <div class="container-fluid" id="post-content">
        <div class="row">
            <div class="col-md-12">
                <div class="page-header">
                    <h1 class="text-danger">
                        {{ page.title }}
                    </h1>
                    {{ page.date | date: "%Y-%m-%d" }}
                </div>
                {{ page.content | markdownify }}

                <!-- don't delete this div as this is header collapse end identified  -->
                <div id="content-end"><h1>Comment Box</h1></div>
                <div>(update the code to your comment plugin in comment-full.html)</div>
            </div>

        </div>
    </div>
<!-- /#page-content-wrapper -->