$lightblue: #81b8e9;
$blue: #0275d8;
$darkblue: #05203e;
$grey: #636c72;
$orange: orange;
$deepgrey: #111319;
$midgrey: rgba(39, 38, 38, 0.7);
$lightgrey: #ddd;
$white: white;
$red: #f50;
$darkred: darkred;
$lightgreen: #87d068;
$black: black;