<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project Gaia - Categories</title>

    {% include global-css.html %}

    <link href="{{site.url}}{{site.baseurl}}/css/categories.css" rel='stylesheet' type='text/css'/>

</head>
<body>

    <div id="wrapper" >

         {% include navbar.html %}
         {% include categories.html %}
         {% include footer.html %}

    </div>



    {% include global-js.html %}

    <script src="{{site.url}}{{site.baseurl}}/js/categories.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/js/sidebar.js"></script>


</body>
</html>
