<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{site.title}}</title>

    {% include global-css.html %}

    <link href="/css/head.css" rel='stylesheet' type="text/css"/>
    <link href="/css/archives.css" rel='stylesheet' type="text/css"/>

</head>
<body>

    <div id="wrapper" >

       {% include navbar.html %}
       {% include head.html %}
       {% include archives.html %}
       {% include footer.html %}

    </div>

    {% include global-js.html %}

    <script src="/js/sidebar.js"></script>

</body>
</html>
