<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Project Gaia</title>

    {% include global-css.html %}

    <link href="{{site.url}}{{site.baseurl}}/css/head.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/archives.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/jPages.css" rel='stylesheet' type="text/css"/>

</head>
<body>

    <div id="wrapper" >

       {% include navbar.html %}
       {% include global-js.html %}
       {% include head.html %}
       {% include archives.html %}
       {% include footer.html %}

    </div>


    <script src="{{site.url}}{{site.baseurl}}/js/jPages.min.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/js/sidebar.js"></script>
    <script src="{{site.url}}{{site.baseurl}}/js/content-pagination.js"></script>

</body>
</html>

