<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{page.title}}</title>

    <!-- Put encrypt ahead of all other includes -->
    {% if page.password  != null %}
        {% include post-encrypt-js.html %}
    {% endif %}
    {% include global-css.html %}

    <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/css/highlight/atom-one-dark-reasonable.css">
    <link href="{{site.url}}{{site.baseurl}}/css/post.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/md-post-header-collapse.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/tocbot.css" rel='stylesheet' type="text/css"/>
    <link href="{{site.url}}{{site.baseurl}}/css/lightbox.css" rel='stylesheet' type="text/css"/>

</head>
<body>

    <div id="wrapper" >

        {% include navbar.html %}
        {% include post.html %}
        {% include comment-full.html %}
        {% include footer.html %}

    </div>

    {% include global-js.html %}


   <script src="{{site.url}}{{site.baseurl}}/js/highlight.pack.js"></script>

   <!-- Header collapse -->
   <script src="{{site.url}}{{site.baseurl}}/js/md-post-header-collapse.js" type="text/javascript"></script>

   <script src="{{site.url}}{{site.baseurl}}/js/sidebar.js" type="text/javascript"></script>
   <script src="{{site.url}}{{site.baseurl}}/js/post.js" type="text/javascript"></script>
   <script src="{{site.url}}{{site.baseurl}}/js/tocbot.min.js" type="text/javascript"></script>
   
   <script src="{{site.url}}{{site.baseurl}}/js/lightbox.js" type="text/javascript"></script>



   {% if page.sortabletable != null %}
    {% include post-sortable-table-js.html %}
   {% endif %}

</body>
</html>

